// Colores
$dark-gray: #515151;
$medium-darkest-gray: #5e5e5e;
$medium-dark-gray: #aeaeae;
$medium-gray: #DADADA;
$light-gray: #e8e8e8;
$white: white;
$green: #99CC22;

// Tipografía
$default-font-weight: 100;
$default-font-size: 16;