h2 {
    font-family: sans-serif;
    font-size: 34px;
    font-weight: normal;
    color: #7A7A7A;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    border-bottom: solid 1px #DDDDDD;
    padding-bottom: 30px;
    margin-bottom: 32px;
}
.section {
    background-color: #E8E8E8;
    padding: 26px 121px;
}
.section > h2 {
    border-bottom-color: #F5F5F5;
}
.slide {
    background-color: #525B5E;
    padding: 3px;
}
.slide > h2 {
    text-align: left;
    text-transform: none;
    font-size: 39px;
    font-weight: 500;
    color: white;
    letter-spacing: 0;
    border: none;
    padding: initial;
    margin: initial;
}