.site_footer {
  background-color: $dark-gray;
  color: $medium-dark-gray;
  > p {
    $margin: (8/$default-font-size) + em;
    margin-top: $margin;
    margin-bottom: $margin;
  }
  &-copyright {
    color: $white;
    font-weight: 400;
  }
  &-primary_nav{
    a {
      &:hover, &:visited, &:link, &:active {
        color: $white;
        text-transform: uppercase;
        text-decoration: none;
        margin-right: (10/$default-font-size) + em;
        margin-left: (10/$default-font-size) + em;
      }
    }

  }
}
