.site_header {
  &-top{

  }
  &-bottom{
    background-color: $light-gray;
    padding: px2rem(12);
  }
  &-nav{
    font-size: px2rem(22);
    a {
      &:hover, &:visited, &:link, &:active {
        display: inline-block;
        color: $medium-dark-gray;
        text-decoration: none;
        padding: .4em .7em;
      }
    }
    a.is-active {
      border: $medium-dark-gray 1px solid;
      background-color: $medium-gray;
      border-radius: .2em;

    }
  }
}