.slide {
  background-color: $dark-gray;
  padding: 3px;
  & > &-title {
    font-size: px2rem(39);
    font-weight: 500;
    color: $white;
    line-height: 150%;
    margin-bottom: 0.5em;
  }
  & > p {
    color: $white;
    font-weight: $default-font-weight;
    font-size: px2rem(20);
  }
}