body {
    font-family: sans-serif;
}
.section_hero-title {
    font-size: 34px;
    font-weight: normal;
    color: #7A7A7A;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    border-bottom: solid 1px #DDDDDD;
    padding-bottom: 30px;
    margin-bottom: 32px;
}
.section_hero--alt {
    background-color: #E8E8E8;
    padding: 26px 121px;
}
.section_hero--alt > .section_hero-title {
    border-bottom-color: #F5F5F5;
}
.slide {
    background-color: #525B5E;
    padding: 3px;
}
.slide > .slide-title {
    font-size: 39px;
    font-weight: 500;
    color: white;
    line-height: 150%;
}
.slide > p {
    color: white;
    font-weight: 100;
    font-size: 20px;
}
.icon_box {
    background-color: #e8e8e8;
}
.icon_box-title {
    font-size: 26px;
    font-weight: 100;
    color: #626262;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.icon_box > p {
    color: #626262;
    font-size: 14px;
    line-height: 150%;
    padding: 8px;
}
.testimony-title {
    font-size: 24px;
    font-weight: 100;
    color: #a7a7a7;
    margin-bottom: 17px;
}
.testimony > p {
    color: #626262;
    font-size: 14px;
    line-height: 170%;

}
.testimony-attribution {
    font-style: italic;
}

.testimony-attribution > a,
.testimony-attribution > a:hover {
    color: #626262;
}
