body {
  color: #515151;
  font-weight: 100; }

h1, h2, h3 {
  font-weight: 100; }

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

.display-none {
  display: none; }

.button {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 400;
  background-color: #99CC22;
  padding: 0.75rem 2.5rem 0.5rem 2.5rem;
  border-radius: .2em;
  text-decoration: none;
  border-top: #c2e76d 1px solid;
  border-bottom: #688a17 1px solid;
  border-right: none;
  border-left: none;
  color: white;
  text-shadow: 1px, 1px, 1px, rgba(0, 0, 0, 0.3); }
  .button:hover, .button:visited, .button:link, .button:active {
    color: white; }
  .button--pill {
    border-radius: 3em;
    font-weight: 100;
    padding: 0.6875rem 1.375rem 0.4375rem 1.375rem;
    font-size: 20px;
    text-shadow: none; }

.contact_form-name, .contact_form-email, .contact_form-comment, div.contact_form-interest .selectize-input input {
  font-size: 1.125rem;
  letter-spacing: .1rem; }

.contact_form-name, .contact_form-email, .contact_form-comment, div.contact_form-interest .selectize-input {
  background-color: #e8e8e8;
  border: #DADADA 1px solid;
  box-sizing: border-box;
  border-radius: 5px;
  display: block;
  margin: 1em 0;
  padding: 15px 28px;
  width: 100%; }

.contact_form {
  margin-right: auto;
  margin-left: auto;
  width: 29.5rem; }
  .contact_form-type_label {
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: .1em; }
  .contact_form-type {
    text-align: center; }
    .contact_form-type i {
      color: #e8e8e8;
      margin-right: .1em; }
    .contact_form-type label {
      font-size: 1.125rem;
      letter-spacing: .1em;
      margin: 0 0.875rem; }
    .contact_form-type input[type="radio"] {
      display: none; }
    .contact_form-type input[type="radio"]:checked + label i:before {
      color: #0065b2;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f058"; }
  .contact_form-comment {
    height: 9.375rem; }
  .contact_form-submit {
    width: 100%; }

div.contact_form-interest .selectize-input {
  box-shadow: none; }

.icon_box {
  background-color: #e8e8e8; }
  .icon_box > p {
    font-size: 0.875rem;
    line-height: 150%;
    padding: 8px; }
  .icon_box-title {
    font-size: 1.625rem;
    font-weight: 100;
    color: #515151;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .04em; }
  .icon_box-icon {
    font-family: FontAwesome;
    display: inline-block;
    padding: 1.875rem;
    background-color: purple;
    border-radius: 4em;
    color: white;
    font-size: 2.5rem;
    text-align: center;
    width: 3.125rem; }
  .icon_box--passion .icon_box-icon {
    background-color: #a8228e; }
  .icon_box--speed .icon_box-icon {
    background-color: #0065b2; }
  .icon_box--creativity .icon_box-icon {
    background-color: #99CC22; }
  .icon_box--magic .icon_box-icon {
    background-color: #f58220; }

.section_hero-title {
  font-size: 2.125rem;
  font-weight: normal;
  color: #7A7A7A;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .1em;
  border-bottom: solid 1px #DADADA;
  padding-bottom: .8em;
  margin-bottom: .9em; }

.section_hero--alt {
  background-color: #e8e8e8;
  padding: 1.625rem 7.5625rem; }
  .section_hero--alt > .section_hero-title {
    border-bottom-color: #e8e8e8; }

.site_footer {
  background-color: #515151;
  color: #aeaeae; }
  .site_footer > p {
    margin-top: px2em 8;
    margin-bottom: px2em 8; }
  .site_footer-copyright {
    color: white;
    font-weight: 400; }
  .site_footer-nav {
    text-align: center;
    margin-bottom: 0.625em;
    width: 26rem;
    margin-left: auto;
    margin-right: auto; }
    .site_footer-nav a:hover, .site_footer-nav a:visited, .site_footer-nav a:link, .site_footer-nav a:active {
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      margin-right: 0.625em;
      margin-left: 0.625em; }
  .site_footer-nav--alt {
    border-top: #aeaeae solid 1px;
    padding-top: 0.8125em; }
    .site_footer-nav--alt a:hover, .site_footer-nav--alt a:visited, .site_footer-nav--alt a:link, .site_footer-nav--alt a:active {
      color: #aeaeae; }
  .site_footer-social_nav > a {
    display: inline-block;
    margin: 0 .1em 0 .1em; }
    .site_footer-social_nav > a > i {
      font-size: 1rem;
      box-sizing: border-box;
      width: 1.5625rem;
      height: 1.5625rem;
      line-height: 1.5625rem;
      color: #515151;
      background-color: white;
      border-radius: 3em;
      text-align: center; }
  .site_footer i.fa-phone, .site_footer i.fa-address-card {
    margin-right: .35em; }

.site_header-bottom {
  background-color: #e8e8e8;
  padding: 0.75rem; }
.site_header-nav {
  font-size: 1.375rem; }
  .site_header-nav a:hover, .site_header-nav a:visited, .site_header-nav a:link, .site_header-nav a:active {
    display: inline-block;
    color: #aeaeae;
    text-decoration: none;
    padding: .4em .7em; }
  .site_header-nav a.is-active {
    border: #aeaeae 1px solid;
    background-color: #DADADA;
    border-radius: .2em; }
.site_header-account_link:hover, .site_header-account_link:visited, .site_header-account_link:link, .site_header-account_link:active {
  color: #aeaeae;
  text-decoration: none;
  font-size: 1.125em; }
  .site_header-account_link:hover:before, .site_header-account_link:visited:before, .site_header-account_link:link:before, .site_header-account_link:active:before {
    font-family: "Font Awesome 5 Free";
    font-size: .8em;
    content: "\f007";
    margin-right: .35em; }

.slide {
  background-color: #515151;
  padding: 3px; }
  .slide > .slide-title {
    font-size: 2.4375rem;
    font-weight: 500;
    color: white;
    line-height: 150%;
    margin-bottom: 0.5em; }
  .slide > p {
    color: white;
    font-weight: 100;
    font-size: 1.25rem; }

.slideshow {
  width: 100%;
  height: 39.375rem;
  background-image: url("../images/slideshow-1000.jpg");
  background-size: cover;
  background-position: bottom; }

@media (min-width: 801px) {
  .slideshow {
    background-image: url("../images/slideshow-bg-2000.jpg"); } }
@media (min-width: 1501px) {
  .slideshow {
    background-image: url("../images/slideshow-bg-3000.jpg"); } }
@media (min-width: 2501px) {
  .slideshow {
    background-image: url("../images/slideshow-bg-3000.jpg"); } }
.testimony > p {
  font-size: 0.875rem;
  line-height: 170%; }
.testimony-title {
  font-size: 1.5rem;
  font-weight: 100;
  margin-bottom: .7em; }
.testimony-attribution {
  font-style: italic; }
  .testimony-attribution > a {
    color: #515151; }
    .testimony-attribution > a:hover, .testimony-attribution > a:visited, .testimony-attribution > a:link, .testimony-attribution > a:active {
      color: #515151; }

.search_form {
  font-size: 0; }
  .search_form-phrase {
    border-left: none;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    font-size: 1rem;
    height: 1.875rem;
    vertical-align: top;
    width: 12.5rem; }
  .search_form-submit {
    background-color: #e8e8e8;
    border-left: none;
    border-radius: 0 5px 5px 0 0;
    border: 1px solid #DADADA;
    font-size: 1rem;
    height: 1.875rem;
    vertical-align: top; }
    .search_form-submit:before {
      color: #aeaeae;
      content: "\f002";
      font-family: "Font Awesome 5 Free";
      font-weight: 600;
      margin-right: .4em; }

div.search_form-type.single {
  display: inline-block;
  vertical-align: top;
  width: 4.875rem; }
  div.search_form-type.single .selectize-input {
    background-color: #e8e8e8;
    border: 1px solid #DADADA;
    border-radius: 5px 0 0 5px;
    box-shadow: none;
    color: #aeaeae;
    font-size: 1rem;
    height: 1.875rem; }
  div.search_form-type.single .selectize-input::after {
    border: none; }
  div.search_form-type.single .selectize-input::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0dc";
    margin-right: .4em; }

/*# sourceMappingURL=styles.css.map */
