.icon_box {
  $padding: 22;
  $box_width: 223;
  background-color: $light-gray;
  width: px2rem($box_width);
  height: px2rem($box_width);
  padding: px2rem($padding);
  box-sizing: border-box;
  text-align: left;
  display: inline-block;
  margin: px2rem(50) px2rem(6) px2rem(20) px2rem(6);

  &-wrapper {
    text-align: center;
  }

  > p { // TODO: Unify paragraph styles
    font-size: px2rem(14);
  }

  &-title {
    font-size: px2rem(26);
    text-transform: uppercase;
    letter-spacing: .04em;
    text-align: center;
    margin-top: px2rem(42);
    margin-bottom: px2rem(10);
  }

  &-icon {
    $width: 100;
    font-family: FontAwesome;
    display: inline-block;
    padding: px2rem(30) 0 px2rem(30) 0;
    border-radius: 4em;
    color: white;
    font-size: px2rem(40);
    width: px2rem($width);
    text-align: center;
    position: absolute;
    margin-top: px2rem(($width/2 + $padding)*-1);
    margin-left: px2rem($box_width/2 - $padding - $width/2);
  }

  &--passion {
    .icon_box-icon {
      background-color: $purple;

      &:before {
        content: "\f004";
      }
    }
  }

  &--speed {
    .icon_box-icon {
      background-color: $blue;

      &:before {
        content: "\f0e7";
      }
    }
  }

  &--creativity {
    .icon_box-icon {
      background-color: $green;

      &:before {
        content: "\f0c3";
      }
    }
  }

  &--magic {
    .icon_box-icon {
      background-color: $orange;

      &:before {
        content: "\f0d0";
      }
    }
  }
}