$search_form-height: px2rem(30);
$search_form-font_size: px2rem(16);

.search_form {
  font-size: 0;

  &-phrase {
    vertical-align: top;
    height: $search_form-height;
    box-sizing: border-box;
    font-size: $search_form-font_size;
    border: 1px solid $medium-gray;
    border-left: none;
    width: px2rem(130);
    padding-left: px2rem(10);
    padding-right: px2rem(10);
  }

  &-submit {
    vertical-align: top;
    height: $search_form-height;
    font-size: $search_form-font_size;
    border: 1px solid $medium-gray;
    border-left: none;
    border-radius: 0 5px 5px 0;
    background-color: $light-gray;
    &:before {
      color: $medium-darker-gray;
      font-family: fedfont;
      content: "a";
      font-size: px2rem(20);
      margin-top: px2rem(2);
      display: inline-block;
    }
  }
}

div.search_form-type.single {
  width: px2rem(78);
  vertical-align: top;
  display: inline-block;
  .selectize-input {
    font-size: $search_form-font_size;
    color: $medium-darker-gray;
    padding: px2rem(4) px2rem(8);
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 5px 0 0 5px;
    background-color: $light-gray;
    height: $search_form-height;
    border-color: $medium-gray;
  }
  .selectize-input:after {
    border: none;
  }
  .selectize-input:before {
    font-family: FontAwesome;
    content: "\f0dc";
    margin-right: .4em;
  }
}