.icon_box {
  background-color: #e8e8e8;
  > p { // TODO: Unify paragraph styles
    font-size: px2rem(14);
    line-height: 150%;
    padding: 8px;
  }
  &-title {
    font-size: px2rem(26);
    font-weight: $default-font-weight;
    color: $dark-gray;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .04em;
  }
}