.slideshow {

  $height: px2rem(630);
  $prev_next_icon_height: 311;

  width: 100%;
  position: relative;
  height: $height;
  background-image: url('../images/slideshow-1000.jpg');
  background-size: cover;
  background-position: bottom;
  @include breakpoint(801px) {
    background-image: url('../images/slideshow-bg-2000.jpg');
  }
  @include breakpoint(1501px) {
    background-image: url('../images/slideshow-bg-3000.jpg');
  }
  @include breakpoint(2501px) {
    background-image: url('../images/slideshow-bg.jpg');
  }
  &-slide {
    padding: 3px;
    & > p {
      color: $white;
      font-weight: $default-font-weight;
      font-size: px2rem(20);
    }
  }
  &-slide_title {
    font-size: px2rem(39);
    font-weight: 500;
    color: $white;
    line-height: 150%;
    margin-bottom: 0.5em;
  }

  > .slides {
    height: $height;
    padding-left: 200px;
    width: px2rem(500);
    > li {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }


  .flex-direction-nav a {
    height: px2rem($prev_next_icon_height + 30);
    width: px2rem(200);
    top: 30%;
  }

  .flex-direction-nav a:before {
    //Add Fontawesome Font
    font-size: px2rem($prev_next_icon_height);
    color: white;
    text-shadow: px2rem(2) px2rem(1) px2rem(3) rgba(0, 0, 0, 0.4);
  }

  .flex-direction-nav a.flex-next:before {
    //Add Fontawesome Font
  }

  .flex-direction-nav a.flex-prev:before {
    //Add Fontawesome Font
    margin-left: px2rem(-125);
  }

  .flex-control-nav {
    bottom: px2rem(15);
  }

  .flex-control-nav li {
    margin: 0 px2rem(4);
  }

  .flex-control-paging li a {
    background-color: $white;
  }

  .flex-control-paging li a.flex-active {
    background-color: rgba(255,255,255, .5);
  }
}
