.slide {
  background-color: $dark-gray;
  padding: 3px;
  > &-title {
    font-size: 39px;
    font-weight: 500;
    color: $white;
    line-height: 150%;
  }
  > p {
    color: $white;
    font-weight: $default-font-weight;
    font-size: 20px;
  }
}